* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}
.appwrapper {
  width: 1280px;
  height: 832px;
}
.container {
  margin: 57px 63px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
}
.menu-box {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  border: 1px solid #454545;
  width: 248px;
  height: 248px;
  right: 72px;
  background-color: #ffffff;
  gap: 30px;
  text-align: center;
  padding: 20px;
}
.menu-box button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  width: 46px;
  height: 46px;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}

.modal-input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.modal-input input {
  width: 300px;
  border: 1px solid #e2e1e5;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
}
.modal-input input::placeholder {
  color: #d2d2d2;
  /* font-weight: 400; */
}
.modal-btn {
  padding: 10px 15px;
  background-color: #5e5bff;
  border-radius: 5px;
  border: 1px;
  color: #ffffff;
  cursor: pointer;
}
.btn-add {
  background-color: #5e5bff;
  padding: 10px 15px;
  color: #ffffff;
  border-radius: 5px;
  border: 1px;
  cursor: pointer;
}
.hide {
  display: none;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
